/* src/pages/Home.css */
.home-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden; /* Ensure content doesn't overflow when scaling */
}

.section img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease; /* Smooth transition for scaling */
}

.section-link {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  z-index: 1;
  position: relative;
  transition: background-color 0.3s ease;
}

.section-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.habit-tracker img {
  filter: brightness(70%);
}

.expense-tracker img {
  filter: brightness(70%);
}

/* Zoom effect on hover */
.section:hover img {
  transform: scale(1.1); /* Adjust scale factor as needed */
  z-index: 2; /* Ensure the image appears above other content */
}
