/* Header styles */
header {
    background-color: #343a40;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:sticky;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
    color: #fff;
  }
  
  .navbar {
    background-color: #212529;
    padding: 10px 20px;
    width: 100%;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-list li {
    margin: 0 10px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-list a:hover {
    background-color: #495057;
    color: #f8f9fa;
  }
  
  .nav-list .active {
    font-weight: bold;
    background-color: #495057;
    color: #f8f9fa;
  }
  
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      position: sticky;
    }
  
    .nav-list {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-list li {
      margin: 5px 0;
    }
  }
  