.App {
  text-align: center;
}

.Header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}
.footer {
  background-color: #343a40; /* Dark gray background */
  color: #fff; /* White text color */
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

.App-body {
  display: flex;
}

.Sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
}

.MainContent {
  flex: 1;
  padding: 20px;
}
form {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #111010;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
